.design{
    width: 100%;
    margin-top: 96.5%;
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
   font-size: 15px;
   border-radius: 0 0 5px 5px;
}
.overLay{
    padding: 0%;
    border-radius: 5px;
    
}
.cart{
    margin-right: 35px;
    margin-bottom: 75px;
    display: inline-flex;
    border: none;

}
